{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <script src="{% static 'users/js/main.js' %}"></script>

        <title>Grocery list</title>
    </head>

    <body>
        <header>
            <nav>
                <div class="navbar-grid">
                    <div class="navbar-grid-left">
                        <div class="navbar-grid-left"><a href="{% url 'home' %}">Grocery List</a></div>
                        {% if user.is_authenticated %}
                            <div class="navbar-grid-right"><a href="{ url 'list' %}">My list</a></div>
                        {% endif %}
                    </div>
                    <div class="navbar-grid-right">
                        {% if user.is_authenticated %}
                            <div class="navbar-grid-left"><a href="{% url 'logout' %}">Logout</a></div>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'register' %}">Create account</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}
        </div>
    </body>
</html>