{% extends 'users/base.html' %}
{% block content %}
    <div class="col-sm-6">
        <h2>{{ my_list }} items:</h2>
        <form id="form" method="post">
            {% csrf_token %}
            {% if items %}
                <ul id="list">
                {% for item in items %}
                    <li class="list-items">{{ item }}</li>
                {% endfor %}
                </ul>
            {% else %}
                No items
            {% endif %}
        </form>
        <div id="buttons-div">
            <button class="btn btn-dark" id="add-text-button">Add item</button>
            <button class="btn btn-danger" id="delete-items-button">Delete items</button>
        </div>
    </div>
{% endblock content %}